$base-color: #1A7798;
$light-color: #5BA3BE;
$medium-light-color: #3686A5;
$medium-dark-color: #095F80;
$dark-color: #044B66;
$accent-color: #F79021;

$light-grey: hsl(0, 0%, 80%);
$medium-grey: hsl(0, 0%, 50%);
$dark-grey: hsl(0, 0%, 35%);

$black: hsl(0, 0%, 20%);
$white: hsl(0, 0%, 100%);